.ptable table {
    border-collapse: collapse;
}

.ptable {
    margin: 0px 0% 30px 0%;
    display: flex;
    justify-content: center;
}

.col th,td {
    padding: 15px;
}

.col {
    border-bottom: 1px solid #FFFFFF;
}

.pos {
    text-align: center;
}
.pos:hover {
    background-color: #FFFFFF;
}
.pos:hover td {
    color: #000000;
}
.bottomWrapper {
    text-align: center;
}
.matchInputContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Adjust as needed */
}

.paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.roundLabel {
    margin-top: 5px;
}